<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create User</title>
</head>
<body>
<form  method="post" action="/create">
    Enter user details:
    <br>
    <span id="trss"> username: <input type="text" name="name"/> <br> </span>
    email: <input type="text" name="email"/> <br>
    birthdate: <input type="text" name="birthdate"/> <br>
    address: <input type="text" name="address"/> <br>

    <input id = "sub_but" type="submit" value="Submit">
</form>
</body>
</html>